.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

    &:hover {
        border-color: var(--color-primary-variant);
        background: transparent;

        img {
            transform: scale(1.1);
        }
    }

    & h3 {
        margin: 1.2rem 0 2rem;
    }
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;

    & img {
        transition: var(--transition);
    }
}

.portfolio__item-cta {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1023px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1.4rem;
    }
}

@media screen and (min-width: 1440px) {
    .portfolio__item h3 {
        text-align: center;
    }
}
